# START

In [1]:
from src import Courses, Students, Results, User
from tabulate import tabulate
from random import randint, choice

## Courses Section

In [2]:
courses = Courses()

#### Appending

In [22]:
i = randint(1, 9)
code = f'CSC 10{i}'

# If not exist
courses.append(code)

# If existing
courses.append(code)

Courses: CSC 105 appended successfully.
Courses: Code already exists: CSC 105

#### Deleting

In [23]:
i = randint(1, 9)
code = f'CSC 10{i}'

# If existing
courses.delete(code)

# If not exist
courses.delete(code)

Courses: CSC 104 deleted successfully.
Courses: Code not exists: CSC 104

#### Editing

In [24]:
# If not exists code
code = 'Probably not exists'
courses.edit(code, **{'name': 'Computer Science'})

# If exists code
i = randint(1, 9)
code = f'CSC 10{i}'
courses.append(code) # Just to make sure it exists
courses.edit(code, **{'name': 'Computer Science'})
df = courses.view(code) # A function to view the course
print(df.to_markdown())

# If key is not in whitelist
courses.edit(code, **{'Wrong key': 'Failure'})

Courses: Code not exists: Probably not exists
Courses: Code already exists: CSC 109
Courses: CSC 109 edited successfully. name = Computer Science
Courses: Key not in whitelist: Wrong key

|         |   A1_convert |   A1_total |   A2_convert |   A2_total |   FE |   T1_convert |   T1_total |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location | name             |   section |   time |
|:--------|-------------:|-----------:|-------------:|-----------:|-----:|-------------:|-----------:|-------------:|-----------:|----------:|-------:|--------------:|-------------:|-----------:|:-----------------|----------:|-------:|
| CSC 109 |          nan |        nan |          nan |        nan |  nan |          nan |        nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |

#### Searching

In [6]:
# If not exists code
code = 'Probably not exists'
df = courses.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

# If exists code
code = f'CSC 10'
df = courses.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------+
| A1_convert   | A1_total   | A2_convert   | A2_total   | FE   | T1_convert   | T1_total   | T2_convert   | T2_total   | credits   | days   | description   | instructor   | location   | name   | section   | time   |
|--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------|
+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------+
+---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+
|         |   A1_convert |   A1_total |   A2_convert |   A2_total |   FE |   T1_convert |   T1_total |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location | name             |   section |   time |
|---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------|
| CSC 109 |          nan |        nan |          nan |        nan |  nan |          nan |        nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 106 |          nan |        nan |          nan |        nan |  nan |          nan |        nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
+---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+

In [7]:
# Search for all code
code = f'' # Empty string to search for all
df = courses.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+
|         |   A1_convert |   A1_total |   A2_convert |   A2_total |   FE |   T1_convert |   T1_total |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location | name             |   section |   time |
|---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------|
| CSC 109 |          nan |        nan |          nan |        nan |  nan |          nan |        nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 106 |          nan |        nan |          nan |        nan |  nan |          nan |        nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
+---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+

#### View a specific entry

In [8]:
# If not exists code
code = 'Probably not exists'
df = courses.view(code) # Returns a NoneType object

# If exists code
i = randint(1, 9)
code = f'CSC 10{i}'
courses.append(code) # Just to make sure it exists
df = courses.view(code) # Returns a DataFrame object
print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

Courses: CSC 107 appended successfully.

+---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------+
|         |   A1_convert |   A1_total |   A2_convert |   A2_total |   FE |   T1_convert |   T1_total |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location |   name |   section |   time |
|---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------|
| CSC 107 |          nan |        nan |          nan |        nan |  nan |          nan |        nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan |    nan |       nan |    nan |
+---------+--------------+------------+--------------+------------+------+--------------+------------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------+

## Students Section

In [9]:
students = Students()

#### Appending

In [90]:
i = randint(1, 9)
code = f'22USC10{i}'

# If not exist
students.append(code)

# If existing
students.append(code)

Students: 22USC106 appended successfully.
Students: Code already exists: 22USC106

#### Deleting

In [28]:
i = randint(1, 9)
code = f'22USC10{i}'

# If existing
students.delete(code)

# If not exist
students.delete(code)

Students: 22USC108 deleted successfully.
Students: Code not exists: 22USC108

#### Editing

In [29]:
# If not exists code
code = 'Probably not exists'
students.edit(code, **{'name': 'Abang Adik'})

# If exists code
i = randint(1, 9)
code = f'22USC10{i}'
students.append(code) # Just to make sure it exists
students.edit(code, **{'name': 'Abang Adik'})
df = students.view(code) # A function to view the course
print(df.to_markdown())

# If key is not in whitelist
students.edit(code, **{'Wrong key': 'Failure'})

Students: Code not exists: Probably not exists
Students: 22USC108 appended successfully.
Students: 22USC108 edited successfully. name = Abang Adik
Students: Key not in whitelist: Wrong key

|          |   address |   city |   country |   email |   id | name       |   phone |   state |   zip |
|:---------|----------:|-------:|----------:|--------:|-----:|:-----------|--------:|--------:|------:|
| 22USC108 |       nan |    nan |       nan |     nan |  nan | Abang Adik |     nan |     nan |   nan |

#### Searching

In [30]:
# If not exists code
code = 'Probably not exists'
df = students.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

# If exists code
code = f'22USC10'
df = students.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
| address   | city   | country   | email   | id   | name   | phone   | state   | zip   |
|-----------+--------+-----------+---------+------+--------+---------+---------+-------|
+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
+----------+-----------+--------+-----------+---------+------+------------+---------+---------+-------+
|          |   address |   city |   country |   email |   id | name       |   phone |   state |   zip |
|----------+-----------+--------+-----------+---------+------+------------+---------+---------+-------|
| 22USC109 |       nan |    nan |       nan |     nan |  nan | Abang      |     nan |     nan |   nan |
| 22USC104 |       nan |    nan |       nan |     nan |  nan | nan        |     nan |     nan |   nan |
| 22USC107 |       nan |    nan |       nan |     nan |  nan | nan        |     nan |     nan |   nan |
| 22USC108 |       nan |    nan |       nan |     nan |  nan | Abang Adik |     nan |     nan |   nan |
+----------+-----------+--------+-----------+---------+------+------------+---------+---------+-------+

In [14]:
# Search for all code
code = f'' # Empty string to search for all
df = students.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
|          |   address |   city |   country |   email |   id | name   |   phone |   state |   zip |
|----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------|
| 22USC108 |       nan |    nan |       nan |     nan |  nan | nan    |     nan |     nan |   nan |
| 22USC109 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+

#### View a specific entry

In [15]:
# If not exists code
code = 'Probably not exists'
df = students.view(code) # Returns a NoneType object

# If exists code
i = randint(1, 9)
code = f'22USC10{i}'
df = students.view(code) # Returns a DataFrame object
print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

Students: Code already exists: 22USC108

+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
|          |   address |   city |   country |   email |   id |   name |   phone |   state |   zip |
|----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------|
| 22USC108 |       nan |    nan |       nan |     nan |  nan |    nan |     nan |     nan |   nan |
+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+

## Results Section

In [16]:
results = Results()

#### Appending

In [99]:
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

# If not exist
results.append(
    student_code=student_code,
    course_code=course_code,
)

# If existing
results.append(
    student_code=student_code,
    course_code=course_code,
)

Results: 22USC109 appended successfully into CSC 109.
Results: Student already exists: 22USC109 in CSC 109

In [135]:
# Generate some random data
i = randint(1, 9)
course_code = f'CSC 10{i}'
i = randint(1, 9)
student_code = f'22USC10{i}'

results.append(
    student_code=student_code,
    course_code=course_code,
)

Results: 22USC106 appended successfully into CSC 109.

#### Deleting

In [45]:
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

# If existing
results.delete(
    student_code=student_code,
    course_code=course_code,
)

# If not exist
results.delete(
    student_code=student_code,
    course_code=course_code,
)

Results: Student: 22USC109 in CSC 109 deleted successfully.
Results: Course not exists: CSC 109

#### Editing

In [113]:
# If not exists code
code = 'Probably not exists'
results.edit(
    student_code=code,
    course_code=code,
    **{'T1': '100', 'T2': '50'}
)

# If exists code
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

results.edit(
    student_code=student_code,
    course_code=course_code,
    T1=100,
    T2=50,
    A1=23,
    FE=44,
)

Results: Course not exists: Probably not exists
Results: Student: 22USC109 in CSC 109 edited successfully.

#### Searching

In [144]:
# If not exists code
code = 'Probably not exists'
df = results.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

# If exists code
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

## Search by student code
df = results.search(
    keyword=student_code,
)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
        showindex=False,
    )
)

## Search by course code
df = results.search(
    keyword=course_code,
)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
        showindex=False,
    )
)

+------+------+------+------+------+---------------+----------------+
| A1   | A2   | FE   | T1   | T2   | course_code   | student_code   |
|------+------+------+------+------+---------------+----------------|
+------+------+------+------+------+---------------+----------------+
+------+------+------+------+------+---------------+----------------+
|   A1 |   A2 |   FE |   T1 |   T2 | course_code   | student_code   |
|------+------+------+------+------+---------------+----------------|
|  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC107       |
|  nan |  nan |  nan |  nan |  nan | CSC 107       | 22USC107       |
+------+------+------+------+------+---------------+----------------+
+------+------+------+------+------+---------------+----------------+
|   A1 |   A2 |   FE |   T1 |   T2 | course_code   | student_code   |
|------+------+------+------+------+---------------+----------------|
|  nan |  nan |  nan |  nan |  nan | CSC 107       | 22USC106       |
|  nan |  nan |  nan |  nan |  nan | CSC 107       | 22USC107       |
+------+------+------+------+------+---------------+----------------+

In [146]:
# Search for all code
code = f'' # Empty string to search for all
df = results.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
        showindex=False,
    )
)

+------+------+------+------+------+---------------+----------------+
|   A1 |   A2 |   FE |   T1 |   T2 | course_code   | student_code   |
|------+------+------+------+------+---------------+----------------|
|  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC107       |
|   23 |  nan |   44 |  100 |   50 | CSC 109       | 22USC109       |
|  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC109       |
|  nan |  nan |  nan |  nan |  nan | CSC 105       | 22USC106       |
|  nan |  nan |  nan |  nan |  nan | CSC 105       | 22USC104       |
|  nan |  nan |  nan |  nan |  nan | CSC 107       | 22USC106       |
|  nan |  nan |  nan |  nan |  nan | CSC 107       | 22USC107       |
|  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC104       |
|  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC101       |
|  nan |  nan |  nan |  nan |  nan | CSC 109       | 22USC106       |
+------+------+------+------+------+---------------+----------------+

#### View a specific entry

In [162]:
# If not exists code
code = 'Probably not exists'
df = results.view(
    course_code=code,
    student_code=code,
) # Returns a NoneType object

# If exists code
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

df = results.view(
    course_code=course_code,
    student_code=student_code,
)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
        showindex=False,
    )
)

+------+------+------+------+------+---------------+----------------+
|   A1 |   A2 |   FE |   T1 |   T2 | course_code   | student_code   |
|------+------+------+------+------+---------------+----------------|
|   23 |  nan |   44 |  100 |   50 | CSC 109       | 22USC109       |
+------+------+------+------+------+---------------+----------------+

## Users Section

In [2]:
user = User()

#### Registering

In [10]:
i = str(randint(1, 9))

# If not exist
user.register(username=i, password=i) # Returns True

# If existing
user.register(username=i, password=i) # Returns False

User: 7 registered
User: 7 already exists

False

#### Logging in

In [3]:
i = str(randint(1, 9))

# If not exist
user.login(username='Probably not exists', password=i) # Returns False

# If existing, but wrong password
user.login(username=i, password='Wrong password') # Returns False

# If existing, and correct password
user.login(username=i, password=i) # Returns True

User: Probably not exists does not exist
User: 7 failed to log in
User: 7 logged in

True

#### Changing password

In [5]:
i = str(randint(1, 9))

# If not exist
user.change_password(
    username='Probably not exists',
    old_password=i,
    new_password=i
) # Returns False

# If existing, but wrong password
user.change_password(
    username=i,
    old_password='Wrong password',
    new_password=i
) # Returns False

# If existing, and correct password
user.change_password(
    username=i,
    old_password=i,
    new_password=i
) # Returns True

User: Username not exists: Probably not exists
User: Incorrect password: 8
User: 8 changed password successfully.

True