# START

In [1]:
from src import Courses, Students, Results, User
from tabulate import tabulate
from random import randint, choice

## Courses Section

In [2]:
courses = Courses()

#### Appending

In [3]:
i = randint(1, 9)
code = f'CSC 10{i}'
courses.append(code)

Courses: Code already exists: CSC 109

#### Deleting

In [4]:
i = randint(1, 9)
code = f'CSC 10{i}'
courses.delete(code)

Courses: CSC 102 deleted successfully.

#### Editing

In [5]:
# If not exists code
code = 'Probably not exists'
courses.edit(code, **{'name': 'Computer Science'})

# If exists code
i = randint(1, 9)
code = f'CSC 10{i}'
courses.append(code)
courses.edit(code, **{'name': 'Computer Science'})
df = courses.view(code)
print(df.to_markdown())

# If key is not exists
courses.edit(code, **{'Wrong key': 'Failure'})

Courses: Code not exists: Probably not exists
Courses: CSC 108 appended successfully.
Courses: CSC 108 edited successfully. name = Computer Science
Courses: Key not in whitelist: Wrong key

|         |   A1 |   A1_convert |   A1_total |   A2 |   A2_convert |   A2_total |   FE |   T1 |   T1_convert |   T1_total |   T2 |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location | name             |   section |   time |
|:--------|-----:|-------------:|-----------:|-----:|-------------:|-----------:|-----:|-----:|-------------:|-----------:|-----:|-------------:|-----------:|----------:|-------:|--------------:|-------------:|-----------:|:-----------------|----------:|-------:|
| CSC 108 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |

#### Searching

In [6]:
# If not exists code
code = 'Probably not exists'
df = courses.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

# If exists code
code = f'CSC 10'
df = courses.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------+
| A1   | A1_convert   | A1_total   | A2   | A2_convert   | A2_total   | FE   | T1   | T1_convert   | T1_total   | T2   | T2_convert   | T2_total   | credits   | days   | description   | instructor   | location   | name   | section   | time   |
|------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------|
+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+--------+-----------+--------+
+---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+
|         |   A1 |   A1_convert |   A1_total |   A2 |   A2_convert |   A2_total |   FE |   T1 |   T1_convert |   T1_total |   T2 |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location | name             |   section |   time |
|---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------|
| CSC 105 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 109 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 106 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
| CSC 101 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 107 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
| CSC 103 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 108 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
+---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+

In [7]:
# Search for all code
code = f''
df = courses.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+
|         |   A1 |   A1_convert |   A1_total |   A2 |   A2_convert |   A2_total |   FE |   T1 |   T1_convert |   T1_total |   T2 |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location | name             |   section |   time |
|---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------|
| CSC 105 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 109 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 106 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
| CSC 101 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| qwe     |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| asdf    |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 107 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
| CSC 103 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | nan              |       nan |    nan |
| CSC 108 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
+---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+

#### View a specific entry

In [8]:
# If not exists code
code = 'Probably not exists'
df = courses.view(code) # Returns a NoneType object

# If exists code
i = randint(1, 9)
code = f'CSC 10{i}'
courses.append(code)
df = courses.view(code) # Returns a DataFrame object
print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

Courses: Code already exists: CSC 108

+---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+
|         |   A1 |   A1_convert |   A1_total |   A2 |   A2_convert |   A2_total |   FE |   T1 |   T1_convert |   T1_total |   T2 |   T2_convert |   T2_total |   credits |   days |   description |   instructor |   location | name             |   section |   time |
|---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------|
| CSC 108 |  nan |          nan |        nan |  nan |          nan |        nan |  nan |  nan |          nan |        nan |  nan |          nan |        nan |       nan |    nan |           nan |          nan |        nan | Computer Science |       nan |    nan |
+---------+------+--------------+------------+------+--------------+------------+------+------+--------------+------------+------+--------------+------------+-----------+--------+---------------+--------------+------------+------------------+-----------+--------+

## Students Section

In [9]:
students = Students()

#### Appending

In [10]:
i = randint(1, 9)
code = f'22USC10{i}'
students.append(code)

Students: Code already exists: 22USC108

#### Deleting

In [11]:
i = randint(1, 9)
code = f'22USC10{i}'
students.delete(code)

Students: 22USC109 deleted successfully.

#### Editing

In [12]:

# If not exists code
code = 'Probably not exists'
students.edit(code, **{'name': 'Abang'})

# If exists code
i = randint(1, 9)
code = f'22USC10{i}'
students.append(code)
students.edit(code, **{'name': 'Abang'})
df = students.view(code)
print(df.to_markdown())

# If key is not exists
students.edit(code, **{'Wrong key': 'Failure'})

Students: Code not exists: Probably not exists
Students: Code already exists: 22USC106
Students: 22USC106 edited successfully. name = Abang
Students: Key not in whitelist: Wrong key

|          |   address |   city |   country |   email |   id | name   |   phone |   state |   zip |
|:---------|----------:|-------:|----------:|--------:|-----:|:-------|--------:|--------:|------:|
| 22USC106 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |

#### Searching

In [13]:
# If not exists code
code = 'Probably not exists'
df = students.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

# If exists code
code = f'22USC10'
df = students.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
| address   | city   | country   | email   | id   | name   | phone   | state   | zip   |
|-----------+--------+-----------+---------+------+--------+---------+---------+-------|
+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
|          |   address |   city |   country |   email |   id | name   |   phone |   state |   zip |
|----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------|
| 22USC107 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC104 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC106 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC105 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC108 |       nan |    nan |       nan |     nan |  nan | nan    |     nan |     nan |   nan |
| 22USC101 |       nan |    nan |       nan |     nan |  nan | nan    |     nan |     nan |   nan |
+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+

In [14]:
# Search for all code
code = f''
df = students.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
|          |   address |   city |   country |   email |   id | name   |   phone |   state |   zip |
|----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------|
| 22USC107 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC104 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC106 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC105 |       nan |    nan |       nan |     nan |  nan | Abang  |     nan |     nan |   nan |
| 22USC108 |       nan |    nan |       nan |     nan |  nan | nan    |     nan |     nan |   nan |
| afds     |       nan |    nan |       nan |     nan |  nan | nan    |     nan |     nan |   nan |
| 22USC101 |       nan |    nan |       nan |     nan |  nan | nan    |     nan |     nan |   nan |
+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+

#### View a specific entry

In [15]:
# If not exists code
code = 'Probably not exists'
df = students.view(code) # Returns a NoneType object

# If exists code
i = randint(1, 9)
code = f'22USC10{i}'
students.append(code)
df = students.view(code) # Returns a DataFrame object
print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

Students: 22USC102 appended successfully.

+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+
|          |   address |   city |   country |   email |   id |   name |   phone |   state |   zip |
|----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------|
| 22USC102 |       nan |    nan |       nan |     nan |  nan |    nan |     nan |     nan |   nan |
+----------+-----------+--------+-----------+---------+------+--------+---------+---------+-------+

## Results Section

In [16]:
results = Results()

In [17]:
# Generate random data
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

courses.append(course_code)
students.append(student_code)

Courses: Code already exists: CSC 106
Students: Code already exists: 22USC106

#### Appending

In [18]:
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'
results.append(
    student_code=student_code,
    course_code=course_code,
)
i = randint(1, 9)
course_code = f'CSC 10{i}'
i = randint(1, 9)
student_code = f'22USC10{i}'

results.append(
    student_code=student_code,
    course_code=course_code,
)

Results: Student not exists: 22USC109
Results: 22USC107 appended successfully into CSC 108.

#### Deleting

In [19]:
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

results.delete(
    student_code=student_code,
    course_code=course_code,
)

Results: Student: 22USC105 in CSC 105 deleted successfully.

#### Editing

In [20]:
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

results.edit(
    student_code=student_code,
    course_code=course_code,
    T1=100,
    T2=50,
    A1=23,
    FE=44,
)

Results: Student not exists: 22USC108 in CSC 108

#### Searching

In [21]:
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'
print(keyword := choice((course_code, student_code)))

df = results.search(
    keyword=keyword,
)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
        showindex=False,
    )
)

CSC 104
+------+------+------+------+------+---------------+----------------+
|   A1 |   A2 |   FE |   T1 |   T2 | course_code   | student_code   |
|------+------+------+------+------+---------------+----------------|
|  nan |  nan |  nan |  nan |  nan | CSC 104       | 22USC103       |
|   23 |  nan |   44 |  100 |   50 | CSC 104       | 22USC104       |
|  nan |  nan |  nan |  nan |  nan | CSC 104       | 22USC107       |
+------+------+------+------+------+---------------+----------------+

In [22]:
# Search for all code
code = f''
df = results.search(code)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
    )
)

+----+------+------+------+------+------+---------------+----------------+
|    |   A1 |   A2 |   FE |   T1 |   T2 | course_code   | student_code   |
|----+------+------+------+------+------+---------------+----------------|
|  0 |  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC102       |
|  1 |  nan |  nan |  nan |  nan |  nan | CSC 102       | 22USC101       |
|  2 |  nan |  nan |  nan |  nan |  nan | CSC 105       | 22USC106       |
|  3 |  nan |  nan |  nan |  nan |  nan | CSC 109       | 22USC106       |
|  4 |  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC108       |
|  5 |  nan |  nan |  nan |  nan |  nan | CSC 101       | 22USC102       |
|  6 |  nan |  nan |  nan |  nan |  nan | CSC 103       | 22USC104       |
|  8 |  nan |  nan |  nan |  nan |  nan | CSC 106       | 22USC109       |
|  9 |  nan |  nan |  nan |  nan |  nan | CSC 104       | 22USC103       |
| 10 |   23 |  nan |   44 |  100 |   50 | CSC 104       | 22USC104       |
| 11 |  nan |  nan |  nan |  nan |  nan | CSC 108       | 22USC102       |
| 12 |  nan |  nan |  nan |  nan |  nan | CSC 107       | 22USC106       |
| 13 |  nan |  nan |  nan |  nan |  nan | CSC 104       | 22USC107       |
| 14 |  nan |  nan |  nan |  nan |  nan | CSC 109       | 22USC102       |
| 15 |  nan |  nan |  nan |  nan |  nan | CSC 109       | 22USC109       |
| 16 |   23 |  nan |   44 |  100 |   50 | CSC 107       | 22USC107       |
| 17 |  nan |  nan |  nan |  nan |  nan | CSC 102       | 22USC106       |
| 18 |  nan |  nan |  nan |  nan |  nan | CSC 107       | 22USC109       |
| 19 |  nan |  nan |  nan |  nan |  nan | CSC 108       | 22USC107       |
+----+------+------+------+------+------+---------------+----------------+

#### View a specific entry

In [23]:
i = randint(1, 9)
course_code = f'CSC 10{i}'
student_code = f'22USC10{i}'

df = results.view(
    course_code=course_code,
    student_code=student_code,
)

print(
    tabulate(
        df,
        headers='keys',
        tablefmt='psql',
        missingval='N/A',
        showindex=False,
    )
)

+------+------+------+------+------+---------------+----------------+
| A1   | A2   | FE   | T1   | T2   | course_code   | student_code   |
|------+------+------+------+------+---------------+----------------|
+------+------+------+------+------+---------------+----------------+

## Users Section

In [24]:
user = User()

#### Registering

In [25]:
i = str(randint(1, 9))
user.register(username=i, password=i)

User: 6 registered

True

#### Logging in

In [26]:
i = str(randint(1, 9))
user.login(username=i, password=i)

User: 8 does not exist

False

#### Changing password

In [27]:
i = str(randint(1, 9))
user.change_password(username=i, old_password=i, new_password=i)

User: Username not exists: 3

False